# Dependencies
node_modules/
.pnp
.pnp.js
venv/
.venv/
__pycache__/
*.pyc

# Build
dist/
build/
.next/
.next_temp/
out/
*.egg-info/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
infra/backups/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/

# Design files
Frontend-UI-design/
